[defaults]
# Отключаем предупреждения о старых модулях и конфигурациях
deprecation_warnings = False
# Увеличиваем стандартное время ожидания ответа по SSH
timeout = 30

[privilege_escalation]
# Увеличиваем время ожидания ввода пароля sudo до 60 секунд
become_timeout = 60
